/app/config/local
/bootstrap/compiled.php
/vendor
/public/bgs
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db


# /frontend ember-cli

# compiled output
/frontend/dist
/frontend/tmp

# dependencies
/frontend/node_modules

!frontend/vendor/
frontend/vendor/*
!frontend/vendor/custom/

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/libpeerconnection.log
/frontend/.DS_Store
/frontend/Thumbs.db
/frontend/coverage
/frontend/npm-debug.log
/frontend/testem.log



# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/emberf/dist
/emberf/tmp

# dependencies
/emberf/node_modules
/emberf/bower_components

# misc
/emberf/.sass-cache
/emberf/connect.lock
/emberf/coverage/*
/emberf/libpeerconnection.log
/emberfnpm-debug.log
/emberftestem.log

/.idea
