/* TODO: Minimize usage bootstrap */
@import (inline) "vendor/bootstrap/dist/css/bootstrap.min.css";
@import (inline) "vendor/selectize/dist/css/selectize.css";
@import (inline) "vendor/selectize/dist/css/selectize.bootstrap3.css";
@import (inline) "vendor/toastr/toastr.min.css";

@import "vendor/bootstrap/less/variables.less";

// font-awesome
@import "vendor/font-awesome/less/variables.less";
@import "vendor/custom/variables.less";		// override variables
@import "vendor/font-awesome/less/mixins.less";
@import "vendor/font-awesome/less/path.less";
@import "vendor/font-awesome/less/core.less";
@import "vendor/font-awesome/less/larger.less";
@import "vendor/font-awesome/less/fixed-width.less";
@import "vendor/font-awesome/less/list.less";
@import "vendor/font-awesome/less/bordered-pulled.less";
@import "vendor/font-awesome/less/spinning.less";
@import "vendor/font-awesome/less/icons.less";





a {cursor:pointer;}

.borderless tbody tr td,
.borderless thead tr th { border: none;}
table.pre {
	font-family: monospace; //@font-family-monospace;
}
td.border-top {
	border-top: 1px solid #000 !important;
}
td.border-top.double {
	border-top: 3px double #000 !important;
}
td.border-bottom {
	border-bottom: 1px solid #000 !important;
}
td.border-bottom.double {
	border-bottom: 3px double #000 !important;
}
table.table table.table {margin-bottom: 0;}
.print {
	padding-top: 15px;
	font-size: 10px;
	#ff, #header {display:none;}
	#logo {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -230px;
	}
	.paper {width: 595px; margin: 0 auto;}
}

#footer {
	border-top: 1px solid rgba(0,0,0,0.1);
	margin-top: 150px;
}

.navbar-brand {

	& {
		color: @brand-warning !important;
	}

	&:hover {
		color: #fff !important;
	}
}

.table.selectable td {
	cursor: pointer;
}

.main {
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 15px;
	right: 15px;

	.login-box {
		display: table;
		height: 90%;
		margin: 0 auto;
		max-width: 530px;
		padding: 0;
		width: 450px;
	}

	.login-form {
		display: table-cell;
		max-width: 530px;
		vertical-align: middle;

		.wrap {
			float: left;
			margin-right: 2px;
		}
	}
}