{{to-print to='print.certbilling' p=h.studid act='toprint2'}}
<hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-8">
				Certificate of Enrolment &amp; Billing
			</div>
			<div class="col-xs-4 text-right">
				Date: <em>{{format-date currentDate ''}}</em>
			</div>			
		</div>
	</div>
	<div class="panel-body">
		{{partial 'reports/certbilling'}}
	</div>
</div>
<hr>
{{to-print to='print.certbilling' p=h.studid act='toprint'}}