<div class="text-right">
	{{#link-to 'print.certbilling' h.studid class="btn btn-info"}}
		<i class="fa fa-print fa-fw"></i> Print
	{{/link-to}}
</div>
{{! TODO component to-print}}
{{!to-print to='print.certbilling' p=h.studid action='toprint'}}
<hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-8">
				Certificate of Enrolment &amp; Billing
			</div>
			<div class="col-xs-4 text-right">
				Date: <em>{{format-date currentDate ''}}</em>
			</div>			
		</div>
	</div>
	<div class="panel-body">
		{{partial 'reports/certbilling'}}
	</div>
</div>
<hr>
<div class="text-right">
	{{#link-to 'print.certbilling' h.studid class="btn btn-info"}}
		<i class="fa fa-print fa-fw"></i> Print
	{{/link-to}}
</div>