<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Bcodes
		{{#link-to 'bcodes.new' class="btn btn-warning"}} Add New {{/link-to}}
	</h3>
</div>

{{outlet}}

<hr>
<div class="row">
	<div class="col-sm-3">
		<div class="list-group">
			<a href="#" class="list-group-item active">FCB</a>
			<a href="#" class="list-group-item">RF</a>
			<a href="#" class="list-group-item">DOST</a>
		</div>

		<ol class="list-group">
			<li class="list-group-item"><a href="#">TEST2</a></li>
			<li class="list-group-item"><a href="#">TEST2</a></li>
			<li class="list-group-item"><a href="#">TEST2</a></li>
		</ol>
	</div>
	<div class="col-sm-9">
		outlet
	</div>
</div>