<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Grade Sheet
		<small>Input student grades on specific subject.</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		{{partial 'partials/lookup-subj'}}
		<hr>
		{{#if subjlist}}
			<hr>
			<div class="list-group">
				{{#each subjlist}}
					{{#link-to 'grades.grade' subjcode section class="list-group-item list-group-item-warning"}}
						<small>{{subjcode}} - {{section}}</small>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>