<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Subsidiary Ledger
		<small>Retrieves the account statement of a student.</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		{{partial 'partials/lookup-stud'}}
		{{#if data}}
			<hr>
			<div class="list-group">
				{{#each data}}
					{{#link-to 'ledgers.ledger' studid class="list-group-item list-group-item-warning"}}
						<small>{{studid}} - {{studfullname}}</small>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}		
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>