<div class="text-center">
	<h5>CERTIFICATE OF ENROLMENT &amp; BILLING</h5>
</div>
<br>
<div class="text-right">Date: <em>{{format-date currentDate ''}}</em></div>
{{partial 'reports/certbilling'}}
<br>
<div class="row">
	<div class="col-xs-4">
		<div class="sign text-center">
			<div>
				<strong>CERINA G. NACORDA</strong><br>
				<span>AO I (Cashiering)</span>
			</div>
		</div>	
	</div>
	<div class="col-xs-4 col-xs-offset-4">
		<div class="sign text-center">
			<div>
				<strong>NELSON M. PATEÑA</strong><br>
				<span>Campus Director</span>
			</div>
		</div>	
	</div>
</div>