// If the form group has an icon...
.input-icon[class*='icon-'] {
	position: relative;
	display: block;
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	input[type="date"] {
		padding-left: 3.2rem;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 1.1rem;
		font-size: 1.3rem;
		transform: translateY(-52%);
		z-index: 100;
	}
}