<div class="row">
	<div class="col-xs-4 col-xs-offset-8">
		<div class="sign">
			<hr>
			<em>Certified by:</em><br>
			<em>Date Printed: {{format-date null 'MMM D, YYYY HH:mm:ss'}}</em>
		</div>	
	</div>
</div>