<div class="text-center">
	<div id="logo">
		<img src="/assets/images/bisu-logo.png" alt="">
	</div>
	<address>
		Republic of the Philippines <br>
		<strong>Bohol Island State University</strong> <br>
		<em>Main Campus, Tagbilaran City, Bohol</em>
	</address>
</div>