<form class="form-inline text-right" role="form" {{action 'lookup' on='submit'}}>
	<div class="form-group">
		<div class="input-group">
			{{input value=stud placeholder="Student ID / Last Name" class="form-control" autofocus="autofocus"}}
			<span class="input-group-btn">
				{{submit-spin saveText='Lookup' disabled=disb isProc=g.isProc}}
			</span>
		</div>
	</div>
</form>