<form class="form-inline text-right" role="form">
	<div class="form-group">
		<div class="input-group">
			{{input value=stud placeholder="Subject Code" class="form-control" autofocus="autofocus"}}
			<span class="input-group-btn">
				{{submit-spin saveText='Lookup'}}
			</span>
		</div>
	</div>
</form>