<div id="wrapper">
	{{#unless hideNav}}
		{{partial 'partials/_sidebar'}}
	{{/unless}}

	<div id="content-wrapper">
		{{#unless hideNav}}
			{{partial 'partials/_navbar'}}
		{{/unless}}

		{{outlet}}

		{{#unless hideNav}}
			{{partial 'partials/_footer'}}
		{{/unless}}
	</div>
</div>