<div class="text-right">
	{{#link-to 'print.ledger' details.studid class="btn btn-info"}}
		<i class="fa fa-print fa-fw"></i> Print
	{{/link-to}}
</div>
<hr>
{{partial 'reports/ledger'}}
<hr>
<div class="text-right">
	{{#link-to 'print.ledger' details.studid class="btn btn-info"}}
		<i class="fa fa-print fa-fw"></i> Print
	{{/link-to}}
</div>