<div class="footer">
	<div class="pull-right">
		<span>eSMS.ext v0.4.0 | By: <a href="mailto:melvinsoldia@bisu.edu.ph">M. Soldia</a>, <a href="mailto:pglibay@bisu.edu.ph">PG. Libay</a></span>
	</div>
	<div>
		Copyright <strong>BISU &copy;</strong> 2014-2015
	</div>
</div>