<div class="row border-bottom">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="navbar-header">
			{{!-- <a href="#">{{fa-icon "list"}}</a> 
			<form class="navbar-form navbar-form-custom">
				<div class="form-group">
					{{input name=q class="form-control" placeholder="Search Student"}}
				</div>
			</form>
			--}}
			<p class="navbar-text">{{{pageTitle}}}</p>
		</div>
		<ul class="nav navbar-nav navbar-top-links navbar-right">
			<li>
				<a href="#">
					<small>Current Sem: </small><strong>2014-2015-1</strong>
				</a>
			</li>
			<li>
				<a href="#">
					{{fa-icon "sign-out"}} Log out
				</a>
			</li>
		</ul>
	</nav>
</div>