<table class="table borderless table-condensed pre">
	<tbody>
		<tr>
			<td width="15%">Student Name</td>
			<td>: <strong>170348 - MOHAMMAD NAJER B. AMBOR</strong></td>
		</tr>
		<tr>
			<td width="15%">Course &amp; Year</td>
			<td>: <strong>BSCE - 1</strong></td>
		</tr>
		<tr>
			<td width="15%">School Year</td>
			<td>: <strong>SY: 2014-2015 Sem: 1</strong></td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-xs-4">
		<table class="table borderless table-condensed pre">
			<thead>
				<tr>
					<th class="text-center">SUBJECTS</th>
					<th class="text-right">LEC</th>
					<th class="text-right">LAB</th>
					<th class="text-right">UNIT</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>CET 2</td>
					<td class="text-right">3</td>
					<td class="text-right">0</td>
					<td class="text-right">3</td>
				</tr>
				<tr>
					<td>Chem 1</td>
					<td>3</td>
					<td>0</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Draw 1</td>
					<td>3</td>
					<td>0</td>
					<td>3</td>
				</tr>
				<tr>
					<td>English 1</td>
					<td>3</td>
					<td>0</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Filipino 1</td>
					<td>0</td>
					<td>2</td>
					<td>2</td>
				</tr>
				<tr>
					<td>NSTP/CWTS</td>
					<td>3</td>
					<td>0</td>
					<td>3</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2" class="text-center"><strong>Total</strong></td>
					<td class="text-right border-top">28</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class="col-xs-7 col-xs-offset-1">
		<table class="table table-condensed borderless pre">
			<thead>
				<tr>
					<th colspan="4">School Fees:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Tuition (P180.00 per unit)</td>
					<td class="text-right">4,500.00</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Registration Fee</td>
					<td class="text-right">200.00</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Miscellaneous Fees:</td>
					<td class="text-right">3,190.00</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						<table class="table table-condensed pre">
							<tr>
								<td>&nbsp;</td>
								<td>Library Fee</td>
								<td class="text-right">300.00</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>Library Fee</td>
								<td class="text-right">300.00</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>Library Fee</td>
								<td class="text-right">300.00</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>Library Fee</td>
								<td class="text-right">300.00</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>Library Fee</td>
								<td class="text-right">300.00</td>
							</tr>
						</table>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						Laboratory (P250.00/subject)
					</td>
					<td class="text-right">750.00</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2"><strong>TOTAL BILLING:</strong></td>
					<td class="text-right border-top"><strong>8,640.00</strong></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Less: Payments</td>
					<td class="text-right">2,500.00</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						<table class="table table-condensed borderless pre">
							<tbody>
								<tr>
									<td>&nbsp;</td>
									<td>O.R. 9689754</td>
									<td>6/10/2014</td>
									<td class="text-right">2,500.00</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2"><strong>BALANCE</strong></td>
					<td class="text-right border-top double"><strong>6,140.00</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>